{%extends 'baserest.html'%}
{% load bootstrap3 %}
{% load static %}
{% block styles %}
{% bootstrap_css %}
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/profile.css'%}">
{% endblock %}
{% block content %}
<div class="jumbotron"style="background-image:url(../../static/photos/back7.jpg) ;height:400px;background-position:center;background-size:cover;  background-repeat: no-repeat;">
  <h1 class="text-center" style="font-family: 'Raleway', sans-serif;font-size:45px;color:white;">Making reservation is now </h1>
    <h1 class="text-center" style="font-family: 'Raleway', sans-serif;font-size:40px;color:white">made <b>Simpler</b></h1>


</div>
<div class="container">
<h1 style="font-family: 'Raleway', sans-serif">Add Restaurant Images</h1>

 <form  action="{%url 'Image' current_profile.id %}" method="post" enctype="multipart/form-data">
    {%csrf_token%}

    {% bootstrap_form form%}
    <input type="submit" class="btn btn-warning btn-lg" value="Submit">
  </form>


</div>

{%endblock%}
