{%extends 'base.html'%}
{% load bootstrap3 %}
{% load static %}

{% block styles %}
{{block.super}}

{% bootstrap_css %}
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/landing.css'%}">
{% endblock %}

{% block content %}
<div class="jumbotron"style="background-image:url(../../static/photos/back7.jpg) ;height:400px;background-position:center;background-size:cover;  background-repeat: no-repeat;">
  <h1 class="text-center" style="font-family: 'Raleway', sans-serif;font-size:45px;color:white;">Making reservation is now </h1>
    <h1 class="text-center" style="font-family: 'Raleway', sans-serif;font-size:40px;color:white">made <b>Simpler</b></h1>


</div>
<div class="container">
<h1 style="font-family: 'Raleway', sans-serif"> Restaurant  information</h1>
 {% for restaurant in restaurant_info %}
 <h1 style="font-family: 'Raleway', sans-serif">Name :{{restaurant.name}}</h1>
  <h3 style="font-family: 'Raleway', sans-serif">Opening Hours: {{restaurant.Opening_Hours}}</h3>
  <h3 style="font-family: 'Raleway', sans-serif"> Closing Hours: {{restaurant.Closing_Hours}}</h3>

 {% empty %}
 <h2 style="font-family: 'Raleway', sans-serif">No Information available</h2>
 {% endfor %}
<hr>
</div>

<div class="container">
  {%for image in images%}
   <div class="col-md-4 col-sm-6 col-xs-12">
     <img src="{{image.image_path.url}}" class="img-responsive" >
     <h4 style="font-family: 'Raleway', sans-serif">{{image.description}}</h4>
  
   </div>

  {% empty %}
  <h3 style="font-family: 'Raleway', sans-serif">No Images Available</h3>
  <ul>
   <li><h3 style="font-family: 'Raleway', sans-serif">To add images of your restaurant </h3></li>
   <li><h3 style="font-family: 'Raleway', sans-serif">Click <b>Add Images</b> on the nav bar</h3></li>
 </ul>
  {%endfor %}

</div>

<div class="container">
  <hr>
    <h3 class="text-center" style="font-family: 'Raleway', sans-serif">Menu Avaliable</h3>
  {%for menu in menus%}
   <div class="row">
     <div class="col-md-8">
     <h4 style="font-family: 'Raleway', sans-serif">{{menu.food_name}}</h4>
     <img src="{{menu.food_image.url}}" class="img-circle"  style="width:35%;height:25%;">

   </div>
   <div class="col-md-4">
     <h4 style="font-family: 'Raleway', sans-serif">{{menu.price}}</h4>
   </div>
   </div>
  {% empty %}
  <h3 style="font-family: 'Raleway', sans-serif">No Menu Available</h3>
  <ul>
   <li><h3 style="font-family: 'Raleway', sans-serif">To add a menu of your restaurant </h3></li>
   <li><h3 style="font-family: 'Raleway', sans-serif">Click <b>Add to Menu</b> on the nav bar</h3></li>
 </ul>
  {%endfor %}
  <hr>
</div>




{% endblock %}
{% block scripts %}

          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
       {% bootstrap_javascript %}
           <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>

      {% endblock %}
