{%extends 'base.html'%}
{% load bootstrap3 %}
{% load static %}
{% block styles %}
{% bootstrap_css %}
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/profile.css'%}">
{% endblock %}
{% block content %}
<div class="container">
<h1 style="font-family: 'Raleway', sans-serif">Make a Reservation</h1>

 <form  action="{%url 'Make' current_profile.id %}" method="post" enctype="multipart/form-data">
    {%csrf_token%}

    {% bootstrap_form form%}
    <input type="submit" class="btn btn-warning btn-lg" value="Reserve">
  </form>


</div>

{%endblock%}
